In [4]:
require(dplyr)

Loading required package: dplyr

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

* exercise 3

In [5]:
Theoph %>% group_by(Subject) %>%
  summarise( max_conc = max(conc))

   Subject max_conc
1  6        6.44
2  7        7.09
3  8        7.56
4  11       8.00
5  3        8.20
6  2        8.33
7  4        8.60
8  9        9.03
9  12       9.75
10 10      10.21
11 1       10.50
12 5       11.40

* exercise 4

In [13]:
max_conc <- Theoph %>% group_by(Subject) %>%
  summarise( max_conc = max(conc))
subj_wt <- Theoph %>% select(Subject, Wt) %>%
group_by(Subject) %>% 
summarise(Wt_u = unique(Wt))

subj_wt

   Subject Wt_u
1  6       80.0
2  7       64.6
3  8       70.5
4  11      65.0
5  3       70.5
6  2       72.4
7  4       72.7
8  9       86.4
9  12      60.5
10 10      58.2
11 1       79.6
12 5       54.6

In [28]:
cor_data <- full_join(max_conc, subj_wt, key = "Subject") 

cor(cor_data$max_conc, cor_data$Wt_u)

Joining, by = "Subject"

[1] -0.3816816

* exercise 5

In [29]:
max_conc

   Subject max_conc
1  6        6.44
2  7        7.09
3  8        7.56
4  11       8.00
5  3        8.20
6  2        8.33
7  4        8.60
8  9        9.03
9  12       9.75
10 10      10.21
11 1       10.50
12 5       11.40

In [34]:
left_join(Theoph, max_conc) %>%
filter(conc == max_conc)

Joining, by = "Subject"

   Subject Wt   Dose Time conc  max_conc
1  1       79.6 4.02 1.12 10.50 10.50
2  2       72.4 4.40 1.92  8.33  8.33
3  3       70.5 4.53 1.02  8.20  8.20
4  4       72.7 4.40 1.07  8.60  8.60
5  5       54.6 5.86 1.00 11.40 11.40
6  6       80.0 4.00 1.15  6.44  6.44
7  7       64.6 4.95 3.48  7.09  7.09
8  8       70.5 4.53 2.02  7.56  7.56
9  9       86.4 3.10 0.63  9.03  9.03
10 10      58.2 5.50 3.55 10.21 10.21
11 11      65.0 4.92 0.98  8.00  8.00
12 12      60.5 5.30 3.52  9.75  9.75